/vendor
/node_modules
/public/storage
/public/hot
/public/build
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.phpactor.json
.DS_Store
